doctype html
head
    title #{title}
    style.
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        div { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
        div input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        div button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
input(type="hidden", value=user.username, id="username")
input(type="hidden", value=_token, id="_token")
select(id="join_room")
button#join join

ul#messages
div(action='')
    input#m(autocomplete='off')
    button#submit Send
script(src='/socket.io/socket.io.js')
script(src='/js/lib/jquery-3.1.1.min.js')
script.
    var socket = io.connect('http://localhost:3000');
    $('#submit').click(function () {
        let messageBox = $('#m');
        let username = $("#username").val();
        let room = $('#join_room').val();
        let _token = $("#_token").val();
        $.ajax({
            type: "GET",
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", "JWT " + _token);
            },
            url: "/authenticate",
            success: function (code) {
            }
        });
        socket.emit('chat message', {sender: username, msg: messageBox.val(), room: room});
        messageBox.val("");
        return false;
    });

    $('#join').click(function () {
        let room = $('#join_room').val();
        let _token = $("#_token").val();
        $.ajax({
            type: "GET",
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", "JWT " + _token);
            },
            url: "/authenticate",
            success: function (code) {
                if (code) {
                    console.log(code);
                    socket.emit('join room', {token: code, room: room});
                }
            }
        });
        return false;
    });
    socket.on('chat message', function (msg) {
        let data = document.createElement("li");
        data.innerText = msg.sender + ": " + msg.msg;
        $('#messages').append(data);
    });
    socket.on('room', function (rooms) {
        console.log(rooms);
        const keys = Object.keys(rooms);
        $('#join_room').innerHTML = "";
        for (let i = 0; i < keys.length; i++) {
            let data = document.createElement("option");
            data.innerText = keys[i];
            data.value = keys[i];
            $('#join_room').append(data);
        }

    });