doctype html
head
    title #{title}
h1 Chat Socket
#container.col
    form(method='POST')
        input(type='text' placeholder='username' name='username')
        input(type='password' placeholder='password' name='password')
        input(type='password' placeholder='re-password' name='re-password')
        input(type='submit' value='Login' name='submit')
